.title {
    font-size: 24px;
}

.Input {
    font-size: larger;
    margin-bottom: 1em;
}

.register-btn {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    font-size: larger;
    text-align: center;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 0.5em;
}